body {
  background: url(../img/bgnd.png) no-repeat;
  background-size: cover;
  margin: 0 auto;

}

.form__section {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  margin: auto;
  height: 550px;
  width: 25%;
  background: #fff;
}

.section__head {
  width: 100%;
  height: 72px;
  background-color: #f8edaf;
  color: #6e7f7b;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.head__text-subtitle {
  color: #a6a28d;
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
}

.head__price {
  color: #637570;
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 400;
}

.main__form {
  padding: 25px;
}

label {
  color: #9eabad;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 10px;
}
input, select {
  color: #727f82;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 400;
  padding: 10px;
  caret-color: #f7d36a;
  border: 2px solid #bac8cb;
}

.card__number-input {
  width: 100%;
  height: 44px;
  background-color: white;
  border: 2px solid #bac8cb;
  margin-bottom: 25px;
}

input:hover {
  border: 2px solid #82d4e7;
}

.card__number {
  display: flex;
  flex-direction: column;
}

.form__select, .cvv__number {
  display: flex;
  flex-direction: column;
  margin-bottom: 28px;
  }

.form__select-items, .cvv {
display: flex;
justify-content: space-between;

}

select:hover {
  border: 2px solid #82d4e7;
}

.select__month {
  width: 65%;
  height: 44px;
  background-color: white;
  border: 2px solid #bac8cb;
}

.select__year {
  width: 30%;
  height: 44px;
  background-color: white;
  border: 2px solid #bac8cb;
}

.cvv__number-input {
width: 40%;
}

.cvv {
  align-items: center;
  color: #9eabad;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
}

.description-link {
  color: #9eabad;
  text-decoration: underline;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  
}

hr {
  margin-bottom: 30px;
}

button {
  width: 100%;
  height: 48px;
  background-color: #25b86a;
  border: none;
  color: white;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
}

button:hover {
  border: 1px solid #f7d36a;
  color: #f7d36a;
}

.description-link-cancel {
  display: flex;
  justify-content: center;
}