.header {
  width: 100%;
  height: 100vh;
  background: url('../img/background.png') top no-repeat;
  background-size: cover;


  &__item {
      padding-top: 46px; 
      width: 100%;
      height: 100vh;
  }
  &__item-nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  &__menu-item{
      margin-right: 20px;
      padding: 10px 20px;
      border: 1px solid transparent;
      font: 400 16px 'Open Sans';
      color: $white;
      &:hover {
          border: 1px solid $white;
          transition: 0.7s;
          border-radius: 15px;
      }
      
  }

  &__text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: calc(680px - 38px - 20px);
     
  }
  &__title {
      text-transform: uppercase;
      font: 300 35px 'Open Sans Condensed';
      color: $white;
      margin-bottom: 40px;
      letter-spacing: 7px;
      @media (max-width:377px) {
          text-align: center;
      }
  }

  &__subtitle {
      width: 50%;
      text-align: center;
      color: $white;
      font: 400 16px 'Open Sans';
  }

  &__button {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: none;
      background-color: $green;
      display: block;
      margin: 0 auto;
      outline: none;
      cursor: pointer;
      &:hover {
        border: none;
        background-color: $green;
        transition: top 1s ease-out 0.7s;
      }
  }
  &__icon {
      width: 16;
      height: 9px;
      color: $white;
      cursor: pointer;
  }

  &__logo {
      color: $white

  }
}

