.footer {
  width: 100%;
  min-height: 204px;
  background-color: white;

&__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

&__logo {
  padding-top: 20px;
  margin-bottom: 22px;
}

&__copywr {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  color: $gray;
  margin-bottom: 40px;
}

&__social-block {
  display: flex;
  
}

&__social-item {
  width: 28px;
  height: 28px;
  border-radius: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  
  &:hover {
      box-shadow: 0 0 20px rgb(59, 94, 190);
      
  }
}

&__social-icon {
 color: $white;
}

&__item-1 {
  background-color: #3b5998;
}

&__item-2 {
  background-color: #26a6d1;
}

&__item-3 {
  background-color: #0e76a8;
}

&__item-4 {
  background-color: #3f729b;
}

&__item-5 {
  background-color: #86c9ef;
}
}