@TODO: отступы, комментарии, пустые стили ??, 

body {
    overflow-x: hidden;
    min-width: 320px;
    font-size: 14px;
    color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .wrapper {
    width: 100%;
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
  }
  
  .btn {
    // display: block;
    // margin: 0 auto;
    height: 40px;
    width: auto;
    padding: 0 20px;
    background: transparent;
    border: 2px solid transparent;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .btn--green {
    border-color: #48bf72;
    color: #48bf72;
  }
  
  .btn--green:hover {
    background-color: #48bf72;
    color: #fff;
  }
  
  /* Main Screen */
  .main-screen {
    background: url('./../img/main-bg') center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 650px;
    height: 100%;
  }
  
  .header {
    padding-top: 36px;
    margin-bottom: 155px;
    overflow: hidden;
  }
  
  .header__logo {
    float: left;
  }
  
  .header__nav {
    float: right;
    height: 99px;
    line-height: 99px;
  }
  
  .nav__link {
    color: #fff;
    font-size: 16px;
    padding: 0 50px;
    position: relative;
  }
  .nav__link--active,
  .nav__link:hover {
    color: #48bf72;
  }
  
  .nav__link:last-of-type {
    padding-right: 0;
    position: static;
  }
  
  .nav__link:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 1px;
    height: 22px;
    background-color: #656e76;
    transform: translateY(-50%) rotate(15deg);
  }
  
  .main-section {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
  }
  
  .main-section__title {
    font-size: 46px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  
  .main-section__text {
    font-size: 30px;
    margin-bottom: 43px;
  }
  
  .main-section__btn {
    
  }
  
  /* Section gallery */
  .section-gallery {
    padding-bottom: 90px;
  }
  
  .gallery__btn-controls {
    padding: 50px 0;
    text-align: center;
  }
  
  .btn-controls__btn {
    margin: 0 8px;
    height: 32px;
    padding: 0 15px;
    border-radius: 3px;
    color: #3c4955;
    font-size: 16px;
    background-color: #eee;
    font-weight: bold;
  }
  
  .btn-controls__btn--active,
  .btn-controls__btn:hover {
    color: #fff;
    background-color: #48bf72;
  }
  
  .gallery__list {
    overflow: hidden;
  }
  
  .gallery__column {
    float: left;
    width: 450px;
  }
  
  .gallery__column--large {
    float: right;
    width: 650px;
  }
  
  .gallery__item {
    margin-bottom: 40px;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
  }
  
  .gallery__item:hover > .overlay {
    opacity: 1;
    z-index: 2;
    pointer-events: auto;
  }
  
  .gallery__item img {
    // max-width: 100%;
    // height: auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  
  // @supports (object-fit: cover) {
  //   .gallery__item img {
  //     width: 100%;
  //     height: 100%;
  //     object-fit: cover;
  //   }
  // }
  
  
  
  .gallery__item:last-of-type {
    margin-bottom: 0;
  }
  
  .gallery__item--size-1 {
    height: 300px;
  }
  
  .gallery__item--size-2 {
    height: 490px;
  }
  
  .gallery__item--size-3 {
    height: 440px;
  }
  
  .gallery__item--size-4 {
    height: 350px;
  }
  
  .gallery__item-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(72, 191, 114, 0.9);
    text-align: center;
    color: #fff;
    // display: flex;
    // align-items: center;
    // flex-direction: column;
    // justify-content: center;
    display: table;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    z-index: -1;
    pointer-events: none;
    cursor: pointer;
  }
  
  .gallery__item-overlay > div {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
  }
  
  .overlay__title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .overlay__subtitle {
    font-size: 16px;
  }
  
  /* FORM */
  .section-form {
    padding: 50px 0;
    text-align: center;
  }
  
  .section-form__wrapper {
    max-width: 700px;
    margin: 0 auto;
  }
  
  .section-form__title {
    font-size: 26px;
    color: #48bf72;
    margin-bottom: 50px;
  }
  
  .section-form__form {
    width: 100%;
  }
  
  .form__field {
    height: 50px;
    border: 2px solid #3c4955;
    margin-bottom: 30px;
    position: relative;
  }
  
  .form__icon-field {
    position: absolute;
    height: 100%;
    width: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #3c4955;
    color: #fff;
    font-size: 24px;
  }
  
  .form__icon-field:after {
      position: absolute;
      content: '';
      top: 50%;
      right: -6px;
      width: 12px;
      height: 12px;
      background-color: #3c4955;
      transform: translateY(-50%) rotate(45deg);
    }
  
  .form__field--textarea {
    height: 200px;
  }
  
  
  .form__field > input {
    padding: 0 25px 0 75px;
    font-size: 16px;
  }
  
  .form__field > textarea {
    padding: 10px 25px 10px 75px;
    font-size: 16px;
  }
  .form__btn {
      width: 701px;
      height: 50px;
      background-color: #48bf72;
      border-radius: 3px;
      outline: none;
      border: 2px solid #52db82;
      

      color: white;
      font-family: "Myriad Pro";
      font-size: 14px;
      font-weight: 700;
      line-height: 25px;
      text-transform: uppercase;
  }
  .form__btn:focus, .form__btn:hover {
    color: #48bf72;
    background-color: white;
    border: 2px solid #48bf72;
  }
  .man {
    background: url('./../img/imgblock.png') center no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
    background-color: #3c4955;
  }
  .man__section__block {
    
    width: 100%;
    max-width: 1170px;
    padding: 0 15px;
    padding-top: 90px;
    margin: 0 auto;
  }
  
  .man__section__text {
    width: 415px;
    height: auto;
    float: right;
    text-align: left;
    color: white;
    font-family: "Myriad Pro";
    font-weight: 400;
    line-height: 30px;
    margin-right: 110px;
}
.man__section__text__name {
    font-size: 30px;
}
.man__section__text__title {
    
    font-size: 22px;
    padding-bottom: 30px;

}
.man__section__text__info {
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    padding-bottom: 50px;
}
.man__section__btn {
    width: 152px;
    height: 39px;
    border: 2px solid #3c4955;
    border-radius: 3px;
    outline: none;
    background-color: #717a83;
    

    color: #3c4955;
    font-family: "Myriad Pro";
    font-size: 14px;
    font-weight: 700;
    line-height: 25px;
    text-transform: uppercase;
}
.man__section__btn:focus, .man__section__btn:hover {
  color: #48bf72;
  background-color: white;
  border: 2px solid #48bf72;
}
.footer__block {
    width: 100%;
    height: 201px;
    background-color: #3c4955;
    position: relative;
    
}

.footer__block__contact {
    width: 100%;
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}
.footer__block__contact__copyright {

color: white;
font-family: "Myriad Pro";
font-size: 16px;
font-weight: 400;
line-height: 25px;
padding: 90px 0;
float: left;
}
.footer__block__contact__copyright__socio {
  width: 320px;
  margin-top: 85px;
  float: right;
  list-style: none;
    
  
}
.footer__block__contact__copyright__socio__1, .footer__block__contact__copyright__socio__2, .footer__block__contact__copyright__socio__3,
.footer__block__contact__copyright__socio__4 {
    display: inline-block;
}
.footer__block__contact__copyright__socio__1 {
  
  height: 30px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  color: #fff;
  font-size: 22px;

  position: relative;
 
  display: inline-block;
  margin-left: 26px
  
}
.hexagon-1 {
  transform: rotate(60deg);
}
.hexagon-2 {
  
  transform: rotate(-60deg);
  

}

.hexagon-1, .hexagon-2 {
  position: absolute;
  width:100%;
  height:100%;
  background: inherit;
  overflow:hidden;
  
}
.fa fa-twitter {
  z-index: 2;
}

// @TODO: что это за чудо-класс ???
.footer__block__contact__copyright__socio__2 {
  
  height: 30px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  color: #fff;
  font-size: 22px;

  position: relative;
  
  display: inline-block;
  margin-left: 26px
}

.footer__block__contact__copyright__socio__3 {
  
  height: 30px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  color: #fff;
  font-size: 22px;

  position: relative;
 
  display: inline-block;
  margin-left: 26px
}

.footer__block__contact__copyright__socio__4 {
   
    // @TODO: ??? отступы
    height: 30px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    font-size: 22px;
  
    position: relative;
    
    display: inline-block;
    margin-left: 26px
}
.footer-ul--li-link {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0px;
  line-height: 27px;
  font-size: 26px;
  color: #fff;
  z-index: 1;
}
.footer-ul {
  width: 320px;
  margin-top: 85px;
  float: right;
  list-style: none;
}

.blue {
  background-color: #55acee;
}

.dark_blue {
  background-color: #0976b4;
}

.pink {
  background-color: #ea4c89;
}

.light_blue {
  background-color: #1769ff;
}
/*
position: absolute;
    width:100%;
    height:100%;
    background: inherit;
    z-index:-2;
    overflow:hidden; */