
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 14px;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  line-height: 1;
  max-width: 1800px;
  width: 100%;
  padding: 60px 10px 10px;
  text-align: center;
  background: url(../img/Background.png);
  
}

.title__section {
color: #303030;
font-family: Poppins, sans-serif;
font-size: 18px;
font-weight: 600;
line-height: 19px;
text-transform: uppercase;
margin-bottom: 30px;
}


.title__name {
  color: black;
  font-family: Poppins, sans-serif;
  font-size: 86px;
  font-weight: 400;
  line-height: 90px;
  text-transform: uppercase;
  margin-bottom: 100px;
}
.block-items-hover:hover {
  opacity: 0.85;
  transition: 0.7s;
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 60px;
  text-transform: uppercase;
  background-color: #404040;
}

.block-items-hover {
  width: 100%;
  height: 100%;
  color: transparent;
  font-family: 'Lato', sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 60px;
  text-transform: uppercase;
  background-color: transparent;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0 auto;

}

