body {
  background-image: linear-gradient(29deg, #ff512f 0%, #dd2476 100%);
  height: 100vh;
}

div {
right: 0;
left: 0;
top: 0;
bottom: 0;
position: absolute;
margin: auto;
max-width: 460px;
height: 470px;
background-color: #fff;
border-radius: 4px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
padding: 30px;

}

h3{
  color: #1b1c1d;
  font-family: Arial;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 15px;
}

.fa-key {
  width: 24px;
  height: 24px;
  color: #df2671;
}

p {
  font-family: Arial;
  font-size: 13px;
  font-weight: 400;
  color: #7a7b7f;
  margin-bottom: 30px;

}
a {
  color: #ea355a;
}

input {
  width: 100%;
  height: 40px;
  background-color: #f0f0f0;
  border-radius: 4px;
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 15px;
  padding: 15px;
  outline: none;
  border: none;
}

button {
  width: 100%;
  height: 50px;
  background-color: #ea355a;
  border-radius: 4px;
  box-shadow: 0 3px 0 #bd1962;
  color: white;
  font-family: Arial;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
  outline: none;
  border: none;
}

.name {
  display: inline-block;
  width: 47.5%;
}
.first {
  margin-right: 15px;
}