body {
background: url(../img/main.png) no-repeat;
background-size: cover;

  }
  
  header {
    max-width: 750px;
    display: flex;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 60px;
    justify-content: space-between;
  }

.fa-bars {
  width: 22px;
  height: 13px;
  color: white;
  
}

.logo {
    margin-right: 30px;
}

section {
top: 0;
left: 0;
right: 0;
bottom: 0;
margin: auto;
position: absolute;
max-width: 750px;
height: 430px;
background-color: #ffffff;
display: flex;
}

.image {
background-color: #f4f4f4;
}

.cros-main {
    padding-top: 80px;
    margin-bottom: 10px;
}

.plus {
position: absolute;
right: 40%;
top: 77%;
font-size: 30px;
color: #1f1f1f;
cursor: pointer;
}

.choise-image {
    display: flex;
    justify-content: center;
}

.cros-item {
    margin-right: 20px;
    
}
.cros-item:hover {
    
    cursor: pointer;
}
.fa-bars:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 300;
    margin-right: 50px;

}

a:hover {
    text-decoration: underline;
}

.first-block {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    max-width: 810px;
    height: 395px;
    opacity: 0.2;
    background-color: #ffffff;
}

.second-block {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    max-width: 780px;
    height: 410px;
    opacity: 0.2;
    background-color: #ffffff;
}

.card {
    padding: 40px 30px 60px 20px;
}
.close {
position: absolute;
right: 1%;
top: -0.5%;
font-size: 30px;
color: #1f1f1f;
transform: rotate(45deg);
margin-bottom: 20px;
}

.close:hover {
    color: #a200b8;
    transform: rotate(220deg);
    cursor: pointer;
    transition: 1s;
    }

.new {
background-color: #ffa60d;
color: white;
font-family: Roboto;
font-size: 14px;
font-weight: 400;
text-transform: uppercase;
padding: 3px;
}

.title-text {
font-family: Roboto;
font-size: 24px;
color: black;
max-width: 200px;
margin-bottom: 15px;
margin-top: 10px;
}

.text_color-style {
    color: #5e4fff;
    }

.for_stars {
    display: flex;
    max-width: 170px;
    height: 20px;
    color: black;
    font-family: Roboto;
    font-size: 12px;
    margin-bottom: 20px;
    }

.stars {
margin-left: 20px;
}

li {
    display: inline-block;
    
}

.fa-star {
    width: 12px;
    height: 12px;
    color: #7f7f7f;
    margin-bottom: 25px;
    
    }
    .black {
        color: black;    
    }
    .fa-star:hover {
    color: black;
    }

    .price {
        color: black;
        font-family: Roboto;
        font-size: 22px;
        font-weight: 300;
        margin-bottom: 25px;
    }

    .size {
        color: black;
        font-family: Roboto;
        font-size: 12px;
        font-weight: 400;
        margin-bottom: 5px;
    }

    .size__style {
        display: flex;
        justify-content: space-between;
        margin-bottom: 35px;
        height: 25px;
        
    }

    .size__style-item {
        color: black;
        font-family: Roboto;
        font-size: 15px;
        border: 1px solid #fff;
        padding: 3%;
        line-height: 0.7;

}
    .size__style-item:hover {
        border: 1px solid black;
        cursor: pointer;
    }
    
    .btn__add {
        width: 118px;
        height: 30px;
        background-color: #a200b8;
        color: white;
        font-family: Roboto;
        font-size: 12px;
        text-transform: uppercase;
        outline: none;
        border: 0;
        margin-bottom: 5px;
    }

    .btn__wishlist {
        width: 118px;
        height: 30px;
        background-color: white;
        border: 1px solid #0f0f0f;
        color: #0f0f0f;
        font-family: Roboto;
        font-size: 12px;
        text-transform: uppercase;
        outline: none;
    }

    .btn__add:hover {
        background-color: white;
        border: 1px solid #0f0f0f;
        color: #0f0f0f;
    }

    .btn__wishlist:hover {
        background-color: #a200b8;
        color: white;
        border: 1px solid white;
    }
