@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Open+Sans:400,700");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  overflow-x: hidden; }

.section__contain {
  max-width: 1175px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px; }

a {
  text-decoration: none; }

li {
  list-style-type: none; }

.button-up {
  width: 50px;
  height: 50px;
  border-radius: 6px;
  color: #ffffff;
  border: 1px solid #ffffff;
  background-color: rgba(25, 111, 192, 0.3);
  position: fixed;
  bottom: 30px;
  right: 30px;
  font-size: 24px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
  z-index: 10; }
  .button-up.is-visible {
    opacity: 1;
    pointer-events: auto; }
  .button-up:hover {
    background-color: rgba(25, 111, 192, 0.7); }

.header {
  width: 100%;
  height: 100vh;
  background: url("../img/bg-head.png") top no-repeat/cover; }
  .header__item {
    padding-top: 46px;
    width: 100%;
    height: 100vh; }
  .header__item-menu {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header__menu-link {
    margin-right: 20px;
    padding: 8px 20px;
    border: 1px solid transparent;
    font: 400 16px 'Open Sans';
    color: #ffffff; }
    .header__menu-link:hover {
      border: 1px solid #ffffff;
      border-radius: 15px; }
    .header__menu-link:last-of-type {
      margin-right: 0; }
  .header__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(680px - 38px - 20px); }
  .header__text-title {
    text-transform: uppercase;
    font: 300 35px 'Open Sans Condensed';
    color: #ffffff;
    margin-bottom: 40px;
    letter-spacing: 7px; }
    @media (max-width: 377px) {
      .header__text-title {
        text-align: center; } }
  .header__text-subtitle {
    width: 50%;
    text-align: center;
    color: #ffffff;
    font: 400 16px 'Open Sans'; }
  .header__button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: #19bd9a;
    display: block;
    margin: 0 auto;
    outline: none;
    cursor: pointer; }
    .header__button:hover {
      -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
      transform: scale(1.3);
      box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.705), 0 0 20px rgba(255, 255, 255, 0.13);
      transition: top 1s ease-out 0.5s; }
  .header__icon {
    width: 16;
    height: 9px;
    color: #ffffff;
    cursor: pointer; }

.portfolio {
  min-height: 400px;
  background: #f3f3f3; }
  .portfolio__contain {
    min-height: 400px; }
  .portfolio__title {
    text-align: center;
    text-transform: uppercase;
    font: 300 20px 'Open Sans Condensed';
    letter-spacing: 4px;
    padding-top: 90px;
    margin-bottom: 40px;
    color: #464646; }
  .portfolio__subtitle {
    text-align: center;
    font: 400 14px 'Open Sans';
    margin-bottom: 80px;
    color: #81868e; }
  .portfolio__item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px; }
    @media (max-width: 400px) {
      .portfolio__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; } }
  .portfolio__item-link {
    font: 400 16px 'Open Sans';
    margin-right: 30px;
    color: #464646;
    padding-bottom: 12px;
    border: none;
    border-bottom: 2px solid transparent;
    cursor: pointer; }
    @media (max-width: 400px) {
      .portfolio__item-link {
        margin-right: 0px; } }
    .portfolio__item-link:last-of-type {
      margin-right: 0; }
    .portfolio__item-link:hover {
      border-bottom: 2px solid #19bd9a; }
  .portfolio__album {
    width: 100%;
    min-height: 350px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .portfolio__album-cover {
    width: calc(100%/4);
    height: 320px;
    padding: 5px; }
    @media (max-width: 900px) {
      .portfolio__album-cover {
        width: calc(100%/3); } }
    @media (max-width: 600px) {
      .portfolio__album-cover {
        width: calc(100%/2); } }
    @media (max-width: 470px) {
      .portfolio__album-cover {
        width: 100%; } }
  .portfolio__album-img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover; }

.team {
  width: 100%;
  min-height: 770px;
  background: #ffffff; }
  .team__wrapper {
    min-height: 770px; }
  .team__title {
    text-align: center;
    text-transform: uppercase;
    padding-top: 80px;
    font: 300 20px 'Open Sans Condensed';
    letter-spacing: 4px; }
  .team__subtitle {
    margin: 0 auto;
    text-align: center;
    font: 400 14px 'Open Sans';
    margin-top: 35px;
    line-height: 25px;
    letter-spacing: 1px;
    color: #81868e;
    width: 45%;
    margin-bottom: 60px; }
  .team__slaider {
    width: 100%;
    max-width: 1030px;
    height: 100%;
    max-height: 366px;
    position: relative;
    margin: 0 auto; }
  .team__content {
    height: 366px;
    display: flex;
    justify-content: space-between;
    position: relative; }
  .team__foto {
    width: 100%;
    max-width: 286px;
    height: 366px;
    overflow: hidden;
    position: relative; }
  .team__foto-img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .team__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 255, 157, 0.13); }
    .team__overlay:hover {
      opacity: 1; }
  .team__overlay-wrap {
    width: 100%;
    max-width: 200px;
    min-height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); }
  .team__item {
    border-radius: 50%;
    background: #3b5998;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center; }
    .team__item:hover {
      box-shadow: 0 0 20px #3b5ebe;
      -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
      transform: scale(1.3); }
  .team__icon {
    color: #ffffff; }
  .team__text {
    width: 100%;
    max-width: 430px;
    height: 364px;
    padding: 30px 30px;
    overflow: hidden; }
  .team__name {
    font: 400 20px 'Open Sans';
    color: #464646;
    padding-bottom: 5px;
    text-align: right; }
  .team__post {
    font: 300 14px 'Open Sans Condensed';
    letter-spacing: 2px;
    color: #81868e;
    text-transform: uppercase;
    padding-bottom: 30px;
    text-align: right; }
  .team__story {
    font: 400 14px 'Open Sans';
    color: #81868e;
    letter-spacing: 1px;
    text-align: right; }
  .team .slick-dots {
    width: 80px;
    position: absolute;
    left: 50%;
    bottom: -76px;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center; }
    .team .slick-dots li {
      list-style-type: none;
      width: 14px;
      height: 14px;
      background-color: #ffffff;
      border: 1px solid #19bd9a;
      border-radius: 50%;
      margin-right: 14px;
      cursor: pointer; }
      .team .slick-dots li:last-of-type {
        margin-right: 0; }
      .team .slick-dots li:hover {
        background-color: #26a6d1; }
      .team .slick-dots li button {
        display: block;
        border: none;
        font-size: 0;
        padding: 0; }
  .team__circle {
    width: 60px;
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
  .team__btn {
    width: 13px;
    height: 13px;
    background: #ffffff;
    border: 1px solid #19bd9a;
    border-radius: 50%;
    cursor: pointer; }
    .team__btn:hover {
      background: #19bd9a; }

.fond {
  background: url("../img/fond.png") center;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .fond__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .fond__ask {
    font: 400 20px 'Open Sans';
    color: #ffffff;
    margin-bottom: 30px; }
  .fond__ask-btn {
    width: 140px;
    height: 36px;
    font: 400 16px 'Open Sans';
    color: #ffffff;
    background-color: transparent;
    border-radius: 15px;
    outline: none;
    cursor: pointer; }
    .fond__ask-btn:hover {
      border: 1px solid;
      box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
      outline-color: rgba(255, 255, 255, 0);
      outline-offset: 15px;
      text-shadow: 1px 1px 2px #427388;
      transform: rotateZ(-30deg);
      -webkit-transform: rotateZ(-30deg);
      -ms-transform: rotateZ(-30deg);
      transition: ease-out 0.5s; }

.contact {
  width: 100%;
  min-height: 740px;
  background-color: #ffffff; }
  .contact__map-map {
    min-height: 439px; }
  .contact__map-title {
    font: 400 20px 'Open Sans Condensed';
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding-top: 80px; }
  .contact__map-subtitle {
    font: 400 14px 'Open Sans';
    line-height: 25px;
    letter-spacing: 1px;
    color: #81868e;
    margin: 0 auto;
    text-align: center;
    width: 30%;
    padding-top: 40px;
    padding-bottom: 58px; }

.testimonials {
  width: 100%;
  min-height: 650px;
  background: #f3f3f3; }
  .testimonials__title {
    font: 400 20px 'Open Sans Condensed';
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding-top: 80px; }
  .testimonials__subtitle {
    font: 400 14px 'Open Sans';
    line-height: 25px;
    letter-spacing: 1px;
    color: #81868e;
    margin: 0 auto;
    text-align: center;
    width: 40%;
    padding-top: 40px;
    padding-bottom: 58px; }
  .testimonials__slide {
    position: relative;
    border: 1px solid red;
    width: 100%;
    min-height: 320px;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: flex-start; }
  .testimonials__slide-wrap {
    border: 1px solid red;
    width: 100%;
    min-height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 30px; }
  .testimonials__slide-img {
    width: 130px;
    height: 130px;
    border-radius: 50%; }
  .testimonials__slide-img img {
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: contain; }
  .testimonials__slide-text {
    width: 70%;
    max-width: 750px;
    margin-left: 70px; }
  .testimonials__slide-about {
    width: 100%;
    max-width: 754px;
    font: 400 16px 'Open Sans';
    color: #81868e;
    line-height: 25px;
    padding-bottom: 30px;
    text-align: left; }
  .testimonials__slide-partho {
    text-transform: uppercase;
    color: #19bd9a;
    font: 700 16px 'Open Sans'; }
  .testimonials__slide-founder {
    text-transform: uppercase;
    font: 400 14px 'Open Sans';
    color: #464646; }
  .testimonials__slide-circle {
    width: 60px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
  .testimonials__slide-btn {
    width: 13px;
    height: 13px;
    background: #ffffff;
    border: 1px solid #19bd9a;
    border-radius: 50%;
    cursor: pointer; }
    .testimonials__slide-btn:hover {
      background: #19bd9a; }

.slick-dots {
  width: 60px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.footer {
  width: 100%;
  min-height: 204px;
  background-color: #f3f3f3; }
  .footer__wrap {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .footer__logo {
    padding-top: 20px;
    margin-bottom: 22px; }
  .footer__copy {
    font: 400 14px 'Open Sans';
    color: #81868e;
    margin-bottom: 40px; }
  .footer__social-list {
    display: flex; }
  .footer__social-item {
    width: 28px;
    height: 28px;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px; }
    .footer__social-item:last-of-type {
      margin-right: 0; }
    .footer__social-item:hover {
      box-shadow: 0 0 20px #3b5ebe;
      -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
      transform: scale(1.3); }
  .footer__social-icon {
    color: #ffffff; }
  .footer__social-one {
    background: #3b5998; }
  .footer__social-two {
    background: #26a6d1; }
  .footer__social-three {
    background: #0e76a8; }
  .footer__social-four {
    background: #3f729b; }
  .footer__social-five {
    background: #86c9ef; }

/*# sourceMappingURL=style.css.map */